---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Process from '../components/Process.astro';
import About from '../components/About.astro';
import Stack from '../components/Stack.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <Services />
    <Process />
    <About />
    <Stack />
    <CTA />
  </main>
  <Footer />
</Layout>
